<% @counter = 0 %>
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th colspan="4">
                <%= @division.contest %> Questions
                <br>
                Division: <%= @division.division %>, Round 
                <%= @division.round %>
            </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Number</th>
            <th>Integer (I) or String (S)?</th>
            <th>Question</th>
            <th>Delete</th>
        </tr>
    </thead>
    
    <tbody>
    <% @rubrics.each do |rubric| %>
        <% ask = Ask.where(
            :contest  => @division[:contest],
            :year     => @division[:year],
            :division => @division[:division],
            :round    => @division[:round],
            :question => rubric[:question])[0] %>
        <tr>
            <td><%= @counter += 1 %></td>
            <td><%= rubric.qType%></td>
            <td><%= rubric.question %></td>
            <td><%= link_to 'Delete', qsheet_path(:id => ask), :method => :delete %></td>
        </tr>
    <% end %> 
    </tbody>
</table>






 
