<script>
  document.getElementById('admin-nav').className = "active"; 
</script>
<p><%= @allAucList %></p>

<% @summaries.each do |sc| %>
<h2>Results for: 
  <%= sc[0][:contest] + " " + sc[0][:year].to_s %>
  <% sc.delete_at(0) %>
</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
            <th>Division</th>
            <th>Round</th>
            <th>Name</th>
            <th>Average Score</th>
            <th>View Results</th>
        </thead>
        
        <tbody>
            <% sc.each do |summary| %>
            <tr>
                <td><%= summary[:division][:division] %></td>
                <td><%= summary[:division][:round] %></td>
                <td><%= summary[:user][:name] %></td>
                <td><%= summary[:avg] %></td>
                <td>
                  <%=  link_to admin_scoreSummary_path(
                  :user_id => summary[:user][:id],
                  :avg => summary[:avg],
                  :division_id => summary[:division][:id]) do %>See
                      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 
                  <% end %> 
                </td>
            </tr>
            <!--
            <tr style="background-color: rgba(179, 204, 230,.25);"> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td></tr>
            -->
            <% end %>
        </tbody>
          
    </table>
    <br>
<% end %>

<script>

$(document).ready(function () {
    $(".btn-select").each(function (e) {
        document.getElementById("admin-nav").className = "active"
        var value = $(this).find("ul li.selected").html();
        if (value != undefined) {
            $(this).find(".btn-select-input").val(value);
            $(this).find(".btn-select-value").html(value);
        }
    });
});

$(document).on('click', '.btn-select', function (e) {
    e.preventDefault();
    var ul = $(this).find("ul");
    if ($(this).hasClass("active")) {
        if (ul.find("li").is(e.target)) {
            var target = $(e.target);
            target.addClass("selected").siblings().removeClass("selected");
            var value = target.html();
            $(this).find(".btn-select-input").val(value);
            $(this).find(".btn-select-value").html(value);
            document.getElementById("resultsTitle").innerText = 'Realtime Results - ' + value.toString();
            document.getElementById("judgeTitle").innerText = 'Judges - ' + value.toString();
        }
        ul.hide();
        $(this).removeClass("active");
    }
    else {
        $('.btn-select').not(this).each(function () {
            $(this).removeClass("active").find("ul").hide();
        });
        ul.slideDown(300);
        $(this).addClass("active");
    }
});

$(document).on('click', function (e) {
    var target = $(e.target).closest(".btn-select");
    if (!target.length) {
        $(".btn-select").removeClass("active").find("ul").hide();
    }
});

</script>
