<%= link_to admin_index_path do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to Results
<% end %> 

<h1>Results for <%= @sc[:user][:name]%></h1>
<h3>
  Contest: <%= @sc[:division][:contest] + " " + @sc[:division][:year].to_s %> 
</h3>
<h3>
  Division: <%= @sc[:division][:division] %> 
</h3>
 <h3>
  Round: <%= @sc[:division][:round] %> 
</h3>
 <h3>
  Average Score: <%= @sc[:avg] %>
</h3>
<br/>
<% @sj.each do |key, assess| %>
    <% @dataRow = 0 %>
    <table class="table table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th colspan="4">
                    Scoresheet # <%= @scoresheetN += 1 %>  <br/>
                    Judged by: <%= key %>
                </th>
            </tr>
        </thead>
      <thead>
        <tr>
              <th>#</th>
              <th>Question</th>
              <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% assess.each do |ass| %>
            <tr>
              <th scope="row"><%= @dataRow += 1 %></th>
              <td> <%= ass[:question] %> </td>
              <td> <%= ass[:score] %> </td>
            </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
        
        
        